
<section class="screen-1">

		<div id="mainContent">

			<section id="login" class="">
				<h2 class="text-center">Vul je naam in!</h2>
				<form id="loginForm" class="flex">
					<input type="text" name="name " id="nameInput" placeholder="Naam">
					<button id="loginBtn" class="login">Chat!</button>
				</form>
			</section>

			<section id="chat" class="hidden">
				<div id="messagesList" class="flex-grow-1">

				</div>
				<form id="messageForm" class="flex">
					<input type="text" name="message " id="messageInput" class="flex-grow-1">
					<button id="sendBtn" class="login">Send</button>
				</form>
			</section>



		</div>
	</section>