  <section class="screen-2">
  <section class="email-1">
    <label for="email">Email Adres</label>
    <section class="sec-2">
      <input type="email" name="email" />
    </section>
  </section>
  <button class="login">Aanmeldlink verzenden </button>
  </section>