  <section class="screen-1">
      <form action="/" method="post" name="login">
  <section class="email">
    <label for="email">Email Adres</label>
    <section class="sec-2">
      <input type="email" name="email" />
    </section>
  </section>
  <section class="password">
    <label for="password">Wachtwoord</label>
    <section class="sec-2">
      <input class="pas" type="password" name="password" />
    </section>
  </section>
  <button class="login">Login </button>
  </form>
  <section class="footer"><a href="/signup"><span>Aanmelden</span></a><a href="/forgotPassword"><span>Wachtwoord vergeten?</span></a></section>
  </section>