  <section class="screen-1">
      <section class="name">
    <label for="name">Naam</label>
    <section class="sec-2">
      <input type="email" name="email" />
    </section>
  </section>
  <section class="email">
    <label for="email">Email Adres</label>
    <section class="sec-2">
      <input type="email" name="email" />
    </section>
  </section>
  <section class="password">
    <label for="password">Wachtwoord</label>
    <section class="sec-2">
      <input class="pas" type="password" name="password" />
    </section>
  </section>
  <button class="login">Aanmelden </button>
  </section>